/**
 * Custom theme derived from the black theme.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #502050;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 36px;
$mainFont: Ubuntu, 'sans-serif';
$heading1TextShadow: 10px 10px 10px black;
$headingTextShadow: 0px 0px 15px pink;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 400;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.4em;
$heading2Size: 1.7em;
$heading3Size: 1.3em;
$heading4Size: 1.1em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
